<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= render 'nav_header', locals: { f: f }, class: 'lnk lnk--sbm' %>
  <%= render 'flash_msgs' %>

  <div class="content">
    <div class="contain bg-white">
      <div class="field row">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'your-registered@email.com', class: 'input grow' %>
      </div>
    </div>
  </div>
<% end %>
